<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand"></a>
      <form class="d-flex" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button class="btn btn-danger ms-5" type="submit" (click)="logout()">Logout</button>
        
      </form>
    </div>
  </nav>
<div class="container ">
    <div class="m-5 text-center"><button class="btn btn-violet " (click)="addBus()">Add Bus</button></div>
    <div class="m-5 text-center"><button class="btn  btn-violet " (click)="deleteBus()">Delete Bus</button></div>
    <div class="m-5 text-center"><button class="btn btn-violet " (click)="updateBus()">Update Bus Details</button></div>
</div>
