@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
body{
    height: 100vh;
    color:white;
    font-family: 'Alkatra', cursive;
}
header
{
    height:80px;
}
footer
{
    height:30px;
    position: absolute;
    bottom:0;
    width:100%
}
.background
{
    background-image: url(./assets/wall.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
