@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
body{
    color:white;
    font-family: 'Alkatra', cursive;
}

header
{
    background-color: rgba(41, 38, 104, 0.862);
    /* height:80px; */
}
/* footer
{
    height:30vh;
    background-color: rgba(14, 14, 14, 0.8);
    position: absolute;
    bottom: 0vh;
    width:100%
} */

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }
.background
{
    background-image: url(./assets/wallp.jpg);
    /* background-repeat:no-repeat; */
    background-size: cover;
}
.s1
{
    opacity: 0;
}
@media(max-width:600px)
{
    footer
{
    height:30vh;
    background-color: rgba(14, 14, 14, 0.8);
    /* position: relative; */
    /* bottom: 0; */
    width:100%
}

}
.btn-violet
{
    background-color: rgba(58, 55, 155, 0.437);
    width: 50%;
    color: white;
}