<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand"></a>
    <form class="d-flex" role="search">
      <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
      <button class="btn btn-violet w-100" type="submit"><a class="text-decoration-none text-white" routerLink="/book">View My Tickets</a></button>
      <button class="btn btn-danger ms-5" type="submit" (click)="logout()">Logout</button>
      
    </form>
  </div>
</nav>
<div class="container searchBox p-5 rounded-5">
    <h2>Hello {{uName}}</h2>
    <form [formGroup]="searchForm">
        <div class="mb-3">
            <label for="from" class="form-label">From</label>
            <select formControlName="from" id="from" name="fromSelectName" class="form-select">
              <option>Trivandrum</option>
              <option>Kollam</option>
              <option>Pathanamthitta</option>
              <option>Alappuzha</option>
              <option>Kottayam</option>
              <option>Idukki</option>
              <option>Kochi</option>
              <option>Trissur</option>
              <option>Palakkad</option>
              <option>Malappuram</option>
              <option>Kozhikode</option>
              <option>Kannur</option>
              <option>Wayanad</option>
              <option>Kasargod</option>
            </select>
          </div>
        <div class="mb-3">
            <label for="to" class="form-label">To</label>
            <select formControlName="to" id="to" name="toSelectName" class="form-select">
              <option>Trivandrum</option>
              <option>Kollam</option>
              <option>Pathanamthitta</option>
              <option>Alappuzha</option>
              <option>Kottayam</option>
              <option>Idukki</option>
              <option>Kochi</option>
              <option>Trissur</option>
              <option>Palakkad</option>
              <option>Malappuram</option>
              <option>Kozhikode</option>
              <option>Kannur</option>
              <option>Wayanad</option>
              <option>Kasargod</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary" (click)="search()">Search</button>
    </form>

</div>
<div [ngClass]="busNo?'':'s1'" class="result container"><h3>Search Result</h3>
    <div class="card mb-5">
        <div class="card-body">
          <h5 class="card-title">Bus Details</h5>
          <p class="card-text">Bus#:{{busNo}}</p>
          <p class="card-text">Registration#:{{regNo}}</p>
          <p class="card-text">From:{{from}}</p>
          <p class="card-text">To:{{to}}</p>
          <p class="card-text">Departure Time:{{dTime}}</p>
          <button class="btn btn-success mt-2" (click)="book()">Book</button>
        </div>
      </div>
      
</div>

